body
  margin: 0
  background-color: #1e232a
  

.menu
  position: absolute
  top: 30px
  left: 0
  width: 100%
  
  &-logo
    width: 118px
    height: 66px
    
  &-icon
    height: 18px
    
  &-social
    text-align: right
    
    &__icon
      margin-left: 18px  
      &:hover
        opacity: 0.5  
      
    &__phone
      font-family: 'Exo2-Medium', sans-serif
      font-size: 16px
      color: white
      text-decoration: none
      vertical-align: middle
      margin-right: 26px
      margin-left: 10px
      &:hover
        opacity: 0.5
        color: white
        text-decoration: none

  &-list
    padding: 0
    li
      display: inline-block
      font-size: 16px
      margin-right: 40px
      font-family: 'Oswald-Regular', sans-serif
      margin-bottom: 15px
      a
        text-decoration: none
        color: white
        &:hover
          opacity: 0.5 
      &.no-margin
        margin: 0  
       
.no-padding
  padding: 0
  
    
.header-wrapper
  height: 660px
  width: 100%
  background-image: url('../img/hero.jpg')
  background-size: cover
  background-position: center center
  
.header
  top: 185px
  position: relative
  
  &-form
    height: 575px
    background-color: white
    padding: 40px
    box-shadow: 0px 15px 50px 0 rgba(0, 0, 0, 0.15)

  &-input
    border: 1px solid rgba(30, 35, 42, 0.15)
    margin-bottom: 15px
    position: relative
        
    &__label
      display: block
      font-size: 11px
      font-family: 'Exo2-Bold', sans-serif 
      text-transform: uppercase
      color: #1e2229
      position: absolute
      padding-left: 20px
      top: 15px
      z-index: 3
      
    &__text
      opacity: 0.3
      color: rgb(30, 34, 41)
      border: none
      width: 100%
      height: 75px
      padding-top: 15px
      font-family: 'Exo2-Regular', sans-serif 
      font-size: 16px
      padding-left: 20px
      padding-right: 20px
      &.select
        -webkit-appearance: none 
        -moz-appearance: none
        appearance: none
  &-checkbox
    font-size: 16px
    font-family: 'Exo2-Regular', sans-serif 
    padding-top: 4px
    
  &-checkbox__small
    font-size: 14px
    font-family: 'Exo2-Regular', sans-serif 
    
    .checkmark
      height: 24px
      width: 24px
      background-position: center center
      
    input:checked ~ .checkmark 
      background-position: center 1px
      
  &-button
    background-color: #2889f0
    border: none
    color: white
    font-family: 'Exo2-Regular', sans-serif 
    font-size: 16px
    text-align: center
    width: 100%
    padding: 23px
    margin-top: 10px
    margin-bottom: 20px
    
  &-text
    font-family: 'Oswald-Medium', sans-serif  
    font-size: 48px
    letter-spacing: 1.2px
    color: white
    text-transform: uppercase
    margin-top: 40px
    margin-bottom: 140px
    
  &-cards
    display: flex
    justify-content: space-between
    
  &-card
    width: 135px
    &__icon
      height: 36px
      width: 36px
      display: block
      margin-bottom: 50px
      
    &__text
      display: block
      font-family: 'Exo2-Medium', sans-serif
      font-size: 16px
      color: white
      
      
.margin-30
  margin-bottom: 30px
  
  
.section-header
  width: 340px
  display: flex
  justify-content: center
  align-items: center
  padding-bottom: 20px
  padding-top: 20px
  margin: auto
  h2
    color: white
    font-size: 36px
    font-family: 'Oswald-Regular', sans-serif
    text-align: center
    text-transform: uppercase
    margin: 0
    

    
  &.ta-left 
    justify-content: flex-start
    margin: 0

    h2
      text-align: left
      
.corners
  border: 1px solid #fcfef9
  z-index: 0
  position: relative
    
.corners:before 
  z-index: -1
  content: ""
  display: block
  position: absolute
  top: 25px
  bottom: 25px
  left: -1px
  right: -1px     
  background: #1e2329
    
.corners:after
  z-index: -1
  content: ""
  display: block
  position: absolute
  top: -1px
  bottom: -1px
  left: 25px
  right: 25px        
  background: #1e2329
  
  
.prices
  padding-top: 160px
  padding-bottom: 100px
  
  &-cards
    margin-top: 90px
  
  &-card
    border: 2px solid rgba(255, 255, 255, 0.1)
    text-align: center
    padding-top: 40px
    position: relative
    height: 600px
    
    &__header
      color: white
      font-family: 'Exo2-Bold', sans-serif 
      font-size: 18px
      margin-bottom: 20px
    &__subheader
      color: white
      font-family: 'Exo2-Regular', sans-serif 
      font-size: 16px
      opacity: 0.3
      margin-bottom: 30px 
    &__price
      color: #ff4657
      font-family: 'Exo2-Regular', sans-serif 
      font-size: 22px
      margin-bottom: 50px
      
    &__list
      list-style: none
      padding-left: 0
      li
        margin-bottom: 19px 
        span
          color: white
          font-family: 'Exo2-Regular', sans-serif 
          font-size: 16px
          padding: 15px
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)
      li:last-child span
          border-bottom: none
        
    &__button
      background: white
      padding: 12px 35px 
      border: none
      font-family: 'Exo2-Regular', sans-serif 
      font-size: 16px
      position: relative
      bottom: -24px
      
    &__background
      background: rgba(255, 255, 255, 0.03)  
      border: none
      
      
.examples
  padding-top: 70px
  padding-bottom: 100px
  .section-header
    margin-bottom: 50px 
    width: auto
    h2
      margin-right: 90px
  &-arrow
    width: 35px
    margin-right: 40px
    opacity: 0.6
    margin-top: 5px
    &:hover
      opacity: 1
    
.example
  padding-top: 15px
  padding-bottom: 15px
  &-img
    height: 480px
    width: 100%
    object-fit: contain
    
  &-content
    padding-left: 5%
    color: white
    
  &-header
    font-family: 'Exo2-SemiBold', sans-serif 
    font-size: 28px
    margin-bottom: 70px
    margin-top: 70px
    
  &-info
    display: flex
    justify-content: flex-start
    margin-bottom: 25px
      
    &__left
      width: 110px
      margin-right: 65px
      font-family: 'Exo2-SemiBold', sans-serif 
      font-size: 16px
      
    &__right
      font-family: 'Exo2-Regular', sans-serif 
      font-size: 16px
      div
        margin-bottom: 15px
      div:last-child
        margin-bottom: 0
      
  &-link
    text-decoration: none
    display: inline-block
    font-family: 'Exo2-Regular', sans-serif 
    font-size: 16px
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
    color: white
    padding-bottom: 15px
    margin-top: 60px
    
    &:hover
      color: white
      text-decoration: none
      opacity: 0.8
      

  
.calc  
  &-wrapper
    position: relative      
    padding-top: 10px
    margin-top: 100px
    margin-bottom: 300px
  &-bg
    position: absolute
    left: -140px
    top: 0
    height: 660px
    opacity: 0.1
  &-bg__overlay
    width: 409px
    height: 660px
    background: linear-gradient(to right, rgba(237,237,237,0) 0%, rgba(30,35,42,1) 100%)
    position: absolute
    left: 235px
    top: 0
    z-index: 1
  &-inner
    z-index: 2
  &-form
    display: flex
    justify-content: space-between
    position: relative
    margin-bottom: 60px
    
    &__half
      width: 50%
      margin-right: 15px
      color: white
      &:last-child
        margin-right: 0
      
      & .custom-checkbox span
        color: #8e9194
    
  &-input
    width: 50%
    margin-right: 15px
    .header-input__label
      color: white
    .header-input__text
      color: white
      opacity: 1
      background: #353940
      option
        color: #1e232a
        background: white
    &:last-child
      margin-right: 0
    
  &-button
    color: #1e232a
    background-color: white
    width: 220px
    
    
  .section-header
    width: 100%
    margin-bottom: 70px
    
    
.material
  padding-top: 70px
  padding-bottom: 100px
  background: white
  .container
    position: relative
  
  .section-header.dark 
    width: 370px
    margin-bottom: 70px
    h2
      color: #3e4856
      font-family: 'Oswald-Medium', sans-serif
      font-size: 30px
    
  &-thumb
    width: 580px
    height: 370px
    object-fit: cover
    position: absolute
    top: -230px
    right: 0
    
  &-menu
    margin-top: 130px
    margin-bottom: 60px
    &__list
      display: flex
      justify-content: space-between
      list-style: none
      li
        color: rgba(62, 72, 86, 0.75)
        font-family: 'Oswald-Regular', sans-serif
        text-transform: uppercase
        font-size: 16px
        &.active
          color: #2889f0
        
  &-card
    position: relative
    margin-bottom: 30px
    &__image
      height: 260px
      width: 100%
      object-fit: cover
      
    &__text
      background: white
      position: absolute
      bottom: 0
      left: 15px
      padding: 15px 
      font-family: 'Exo2-SemiBold', sans-serif 
      width: 240px
      padding-right: 70px
    
    
  
    
  
  
      
      

          
      
          
  
  
  
